html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

p {
  font-family: "Montserrat", sans-serif;
}
#layer_1 {
  transform: scale(2);
}

#bracket-s {
  opacity: 0;
}

#switch-1 {
  opacity: 0;
}

#switch-2 {
  opacity: 0;
}

#usb {
  opacity: 0;
}

#usb-circle {
  opacity: 0;
}

#usb-rect {
  opacity: 0;
}

#line-code {
  opacity: 0;
}

#bracket-e {
  opacity: 0;
}


#Layer_darkm_mode{
  cursor: pointer;
}
 #moon-main{
  opacity: 0;
}
#ray-big-n, #ray-big-ne, #ray-big-e, #ray-big-se, #ray-big-s,#ray-big-w, #ray-big-nw, #ray-big-sw {
  opacity: 1;
}

#ray-small-1, #ray-small-2, #ray-small-3,#ray-small-4, #ray-small-5,#ray-small-6, #ray-small-7, #ray-small-8 {
  opacity: 1;
}

#moon-inner-1, #moon-inner-2, #moon-inner-3, #moon-inner-4 {
  opacity: 0;
  fill: rgb(221, 141, 141);
}

#cloud-front, #cloud-back {
  opacity: 0;
}